@mixin side-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

:host {
  display: block;

  .main {
    @include side-padding;

    .main__forms {
      margin-top: 1.5rem;
    }
  }

  .footer {
    margin-top: 10vh;
    @include side-padding;

    .footer__button {
      width: 100%;
      height: 3.25rem;
    }
  }
}
